<h1 mat-dialog-title>Inicio de Sesión</h1>
<div mat-dialog-content>
    <form [formGroup]="formLogin">
        <fieldset>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="idUser" name="idUser">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="_hide ? 'password' : 'text'" formControlName="password" name="password">
                        <button mat-icon-button matSuffix (click)="_hide = !_hide" [attr.aria-pressed]="_hide">
                            <mat-icon>{{_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <button type="button" (click)="signIn('admin')" class="btn btn-outline-primary">Iniciar Sesión
                    admin</button>
                <button type="button" (click)="signIn('administrador')" class="btn btn-outline-primary">Iniciar Sesión
                    administrador</button>
                <button type="button" (click)="signIn('estudiante')" class="btn btn-outline-primary">Iniciar Sesión
                    estudiante</button>
            </div>
        </fieldset>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="closeSignIn()">Cerrar</button>
</div>