<div class="bg-primary py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <a class="text-white pr-3" href="">Preguntas Frecuentes</a>
                <span class="text-white"> | </span>
                <a class="text-white px-3" href="">Ayuda</a>
                <span class="text-white"> | </span>
                <a class="text-white pl-3" href="">Soporte</a>
            </div>
            <div class="col-md-6  text_derecha">
                <a class="text-white px-3" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-3" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-3" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-3" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-3" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class=" position-relative nav-bar">
    <div class="container-lg position-relative" style="z-index: 9;">
        <nav class=" navbar-expand-lg bg-white navbar-light">
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <div class="navbar-nav ml-auto ">
                    <a href="" class="nav-item nav-link active">Inicio</a>
                </div>
                <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Mi </span>BIBLIOTECA</h1>
                </a>
                <div class="navbar-nav mr-auto">
                    <a href="" class="nav-item nav-link" (click)="logOut()">Cerrar Sesión</a>
                </div>
            </div>
        </nav>
    </div>
</div>