<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mi Biblioteca</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="bg-primary py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <a class="text-white pr-3" href="">Preguntas Frecuentes</a>
                    <span class="text-white">|</span>
                    <a class="text-white px-3" href="">Ayuda</a>
                    <span class="text-white">|</span>
                    <a class="text-white pl-3" href="">Soporte</a>
                </div>
                <div class="col-md-6  text-lg-right">
                    <a class="text-white px-3" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class=" position-relative nav-bar">
        <div class="container-lg position-relative" style="z-index: 9;">
            <nav class=" navbar-expand-lg bg-white navbar-light">
                <div class="collapse navbar-collapse " id="navbarCollapse">
                    <div class="navbar-nav ml-auto ">
                        <a href="" class="nav-item nav-link active">Inicio</a>
                        <a href="" class="nav-item nav-link">Acerca de</a>
                    </div>
                    <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Mi </span>BIBLIOTECA</h1>
                    </a>
                    <div class="navbar-nav mr-auto">
                        <a href="" class="nav-item nav-link">Servicios</a>
                        <a href="" class="nav-item nav-link">Galeria</a>
                        <a href="" class="nav-item nav-link">Contacto</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid p-0 mb-5 pb-5">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <img src="assets/bg_libro1.png" alt="Image" style="width: 100%;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 >Convierte el conocimiento en libertad: digitalizando historias, conectando mentes.</h4>
                        <h1 >BIBLIOTECA ALEJANDRO SEGOVIA</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>
                    </div>
                </div>
        </div>
    </div>
</body>

</html>
<button (click)="openSignIn()">Pick one</button>