<app-header></app-header>
    <div class="container-fluid p-0 ">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <img src="assets/fondo.jpg" alt="Image" style="width: 100%;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h1 class="titulo-nombre-student">BIENVENIDO XPERSONA </h1>
                    <h4>¿Qué deseas realizar hoy?</h4>
                    <div class="elementos_sep mt-3">
                        <button class="btn btn-primary py-md-3 px-md-5 mt-2">PRESTAMOS</button>
                        <button class="btn btn-primary py-md-3 px-md-5 mt-2">SEGUIMIENTO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
