<app-header></app-header>
    <div class="container-fluid p-0 ">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <img src="assets/fondo.jpg" alt="Image" style="width: 100%;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <div *ngIf="userName">
                        <h1 class="titulo-nombre">BIENVENIDO {{ userName }} </h1>
                      </div>
                    <h4>¿Qué deseas realizar hoy?</h4>
                    <div >
                        <button class="btn btn-primary py-md-3 px-md-5 mt-2" (click)="goToLoans()">PRESTAMOS</button>
                    </div>
                </div>
                <div>
                    <ng-container *ngIf="displayLoans">
                        <div class="container-menus">
                            <app-loans-view></app-loans-view>
                        </div>
                        <br>
                        <button class="btn-cerrar" (click)="displayLoans = false">Cerrar tabla</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
